body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  border: 1px solid gray;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  height: 1.5rem;
}

ul {
  margin-block: 0;
  padding-inline-start: 1rem;
}
li {
  list-style: none;
}
button {
  margin: 0 1rem;
  outline: 0;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
